<form >
  <div class="pageContato">
    <mat-form-field>
      <mat-label>Seu Nome</mat-label>
      <input matInput value="" />
    </mat-form-field>
  </div>
  <div class="pageContato">
    <mat-form-field>
      <mat-label>Seu E-mail</mat-label>
      <input matInput placeholder="contato@contato.com" />
    </mat-form-field>
  </div>

  <div class="pageContato">
    <mat-form-field>
      <mat-label>Mensagem</mat-label>
      <input matInput placeholder="Escreva seu histórico e porque você quer utilizar o serviço, logo o responsável entrará em contato com você!" />
    </mat-form-field>
  </div>
</form>
